.show-dice {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}
.show-dice {
	animation: shake 1s infinite;
}
#dice {
    display: flex;
    width: 20rem;
    height: 20rem;
    color: #7aa6ff;
    background: white;
    border-radius: 4rem;
}
@keyframes shake {

	100% {
		transform: rotate(1090deg);
	}
}

.currentDice {
    display: flex;
    margin-top: 20rem;
    animation: shake 1s;
}