

.show-globalPage_content {
    background: linear-gradient(to right,#7aa6ff, white);
    display: flex;
    width: 100%;
    min-height : calc(100vh - 5rem);
    flex-direction: row;
    justify-content: space-between;
}
.hide-globalPage_content {
    background: linear-gradient(to left,#7aa6ff, white);
    display: flex;
    width: 100%;
    min-height : calc(100vh - 5rem);
    flex-direction: row;
    justify-content: space-between;
}

.header_table {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.table {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {

}



