
.globalPage_content {
    display: flex;
    width: 100%;
    height: 50rem;
    flex-direction: row;
    justify-content: space-between;
}
.player1, .player2 {
    background-color: lightgray;
    width: 30rem;
    bottom: 0;
}
.titleScore {
    width: 90%;
    margin: auto;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border-bottom: solid 1px black;
}