
.globalPage_content {
    display: flex;
    width: 100%;
    min-height: 55rem;
    flex-direction: row;
    justify-content: space-between;
}
.show-player1 , .show-player2  {
    background-color: lightgray;
    width: 30rem;
    bottom: 0;
    visibility: visible;
}
.hide-player {
    background-color: lightgray;
    width: 30rem;
    bottom: 0;
    visibility: hidden;
}
.titleScore {
    width: 90%;
    min-height: 7rem;
    margin: auto;
    font-size: 3rem;
    letter-spacing: 1px;
    border-bottom: solid 1px black;
}
.Score_content {
    font-size: 2rem;
}
.dice {
    font-size: 6rem;
}
