.header_content {
    background-color: #5c2424;
    display: flex;
    min-height: 7rem;
    width: 100%;
    letter-spacing: 1px;
    
}
.header_content form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.header_title {
    margin: auto;
    margin-bottom: 1.1rem;
    color: white;
}
.input_j1 input, .input_j2 input {
    padding-bottom: 0.5rem;
    padding-top: 0.4rem;
    padding-right: 2rem;
    padding-left: 0.5rem;

    border-radius: 1rem;
    font-size: 1.2rem;;
}
.input_j1, .input_j2, .btn_start {
    color: white;
    margin: auto;
    font-size: 1.6rem;
}
.resultat_j1, .resultat_j2, .btn_restart {
    color: white;
    margin: auto;
    font-size: 1.6rem;
}

.btn_start button, .btn_restart button {
    background-color: #FF6363;
    width: 15rem;
    border: none;
    color: white;
    padding: 1.5rem 4rem;
    border-radius: 0.6rem;
    font-size: 2rem;
    transition: all .2s ease-in-out;
}
.btn_start button:hover, .btn_restart button:hover {
    background-color: #fcaeae;
    cursor: pointer;
    color: #ebf7ff;
    transition: all .2s ease-in-out;
}
.btn_start button:disabled, .btn_restart button:disabled {
    background-color: #c9c8c2;
    color: #a8a7a4;
    box-shadow: 0px 2px 10px 2px #393E46;
    cursor: not-allowed;
    transition: all .2s ease-in-out;
}
